:root {
    --primary-color-light:  #8fc7c3;
    --primary-color:  #00796b;
    --secondary-color-light:  #fadea1;
    --secondary-color:   #928974;
    --tertiary-color-light:  #eba5a5;
    --tertiary-color: #700606;
    --highlight-color: #ffff00;
    --black: #070606;
    --white: #ffffff;
}

/*:root {
    --primary-color-light: #94a8b1;
    --primary-color: #00796b;
    --secondary-color-light: #eec56e;
    --secondary-color: #dce3e4;
    --tertiary-color-light: #ebf4f7;
    --tertiary-color: #333;
    --highlight-color: yellow;
}*/

body, html {
    height: 100%; /* Ensure body and html take full height of viewport */
    font-family: Arial, sans-serif;
    background-color: var(--primary-color-light);
    margin: 0;
    padding: 0;
    color: var(--tertiary-color);
}

.container {
    margin: 1% auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox for layout */
}

aside#sidebar {
    width: 250px; /* Adjust sidebar width as needed */
    background-color: var(--primary-color-light);
    padding: 20px;
    border-radius: 8px;
}

main#main-content {
    flex: 1;
    background-color: var(--primary-color-light);
    margin-left: 20px;
    border-radius: 8px;
    min-width: 350px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--secondary-color-light );
    color: var(--primary-color);
}

header img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

/* Ensure the sidebar nav takes full height */
#sidebar-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Push the last ul element to the bottom */
#sidebar-nav ul#setbottom {
    margin-top: auto;
    margin-bottom: 50px; /* Ensure a margin at the bottom */
    background-color: var(--secondary-color-light);
}

/* Remove bottom margin for the rest */
#sidebar-nav ul {
    margin-bottom: 0;
}

nav ul li {
    display: block; /* Changed to block for better stacking in small screens */
    margin-bottom: 10px; /* Added margin-bottom for spacing */
    margin-left: 15%;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    margin-right:  50px;
}

nav ul li a:hover {
    color: var(--tertiary-color);
}

pre {
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
    margin: 20px 0;
}

code {
    font-family: "Courier New", Courier, monospace;
}

h1, h2, h3 {
    margin-top: 20px;
}

h2 {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
    background-color:var(--tertiary-color-light);
}

.collapsible {
    background-color: var(--primary-color-light);
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 10px;
    border: 1px solid  var(--primary-color);
}

.collapsible:hover {
    background-color: var(--primary-color);
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #dfeef3;
    color: var(--tertiary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    margin-top: 10px;
}

.content p {
    padding: 10px;
    margin-left: 10px;
}

/* Right Sidebar */
#right-sidebar {
    width: 300px;
    background:var(--primary-color-light);
    padding: 20px;
    margin-left: 40px;
}

.search-container {
    display: flex;
    margin-bottom: 20px;
}

#search-input {
    flex: 1;
    padding: 5px;
}

#search-button {
    padding: 5px 10px;
}

#search-results {
    background: var(--tertiary-color-light);
    border: 1px solid #ccc;
    max-height: 400px;
    overflow-y: auto;
}

#search-results p {
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin: 0;
}

.highlight {
    background-color: var(--highlight-color);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack sidebar on top of main content */
    }

    aside#sidebar {
        width: 100%; /* Full width sidebar in smaller screens */
        margin-bottom: 10px; /* Optional: Add some spacing between sidebar and main content */
    }

    main#main-content {
        width: 100%; /* Full width for main content in smaller screens */
        margin-left: 0; /* Remove left margin */
    }
}
